name: Deploy
on:
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

  DeployDev:
    name: Deploy to Dev 
    if: github.event_name == 'pull_request'
    needs: [build]
    runs-on: ubuntu-latest
    environment: 
      name: nonprod
    steps:
      - name: Deploy
        run: deploying! 
        
      - name: Setup Terragrunt
        uses: autero1/action-terragrunt@v1.1.0
        with:
         terragrunt_version: 0.35.12
    
      - name: Interact with Terragrunt
        run: terragrunt --version
      
      - name: run make command
        run: make deploy
    

 
